    <footer class="footer">
        <div class="footer__inner">
            {{#if @config.custom.copyrightText}}
                <div class="footer__copyright">
                    {{{@config.custom.copyrightText}}}
                </div>
            {{/if}}
            {{#if @config.custom.socialButtons}}
                <div class="footer__social">
                    {{#if @config.custom.socialFacebook}}
                        <a href="{{@config.custom.socialFacebook}}" aria-label="Facebook">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialTwitter}}
                        <a href="{{@config.custom.socialTwitter}}" aria-label="Twitter">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialInstagram}}
                        <a href="{{@config.custom.socialInstagram}}" aria-label="Instagram">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#instagram"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialLinkedin}}
                        <a href="{{@config.custom.socialLinkedin}}" aria-label="LinkedIn">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialVimeo}}
                        <a href="{{@config.custom.socialVimeo}}" aria-label="Vimeo">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#vimeo"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialPinterest}}
                        <a href="{{@config.custom.socialPinterest}}" aria-label="Pinterest">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialYoutube}}
                        <a href="{{@config.custom.socialYoutube}}" aria-label="Youtube">
                            <svg>
                                <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#youtube"/>
                            </svg>
                        </a>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </footer>
</div>

<script defer src="{{js "scripts.min.js"}}"></script>

<script>window.publiiThemeMenuConfig={mobileMenuMode:'{{@config.custom.mobilemenu}}',animationSpeed:300,submenuWidth: {{#checkIf @config.custom.submenu '==' "auto" }}'auto'{{else}}{{@config.custom.submenuWidth}}{{/checkIf}},doubleClickTime:500,mobileMenuExpandableSubmenus:{{@config.custom.mobilemenuExpandableSubmenus}},relatedContainerForOverlayMenuSelector:'.top'};</script>

{{#if @config.site.mediaLazyLoad}}
    <script>        
        var images = document.querySelectorAll('img[loading]');
        for (var i = 0; i < images.length; i++) {
            if (images[i].complete) {
                images[i].classList.add('is-loaded');
            } else {
                images[i].addEventListener('load', function () {
                    this.classList.add('is-loaded');
                }, false);
            }
        }
    </script>
{{/if}}

{{#checkIfAny post.hasGallery page.hasGallery}}
   {{> photoswipe}}
{{/checkIfAny}}

{{#checkIf @config.custom.frontSource '==' "post"}}
   {{#checkIf @config.custom.frontGallery '==' true}}
      {{#is "index"}}
          {{> photoswipe}}
      {{/is}}
   {{/checkIf}}
{{/checkIf}}
{{#if @renderer.previewMode}}
<script defer src="{{js "svg-map.js"}}"></script>
<script defer src="{{js "svg-fix.js"}}"></script>

{{/if}}
{{{@footerCustomCode}}}
{{{ publiiFooter }}}
<script>

    const xRange = 0.1
    const yRange = 0.1
    function getText(node) {
    function recursor(n) {
        var i;
        if (n.nodeType !== 3) {
            if (n.childNodes)
                 for (i = 0; i < n.childNodes.length; ++i)
                     recursor(n.childNodes[i]);
        } else {
const target = n.parentNode

        const val = target.textContent

        const chars = val.split('');
        target.innerHTML = chars.map(c => {
            const x =  -(Math.random() * xRange).toFixed(2)
            const y =  -(Math.random() * yRange).toFixed(2)
            const w = Math.floor(Math.random() * 500+300)
            const il = Math.random().toFixed(2)
            const inf = Math.floor(Math.random()*100)
            const b = Math.floor(Math.random() * 200-100)
            const s = (Math.random()*0.2+0.3).toFixed(2)
            const r = Math.floor(Math.random()*30-15)

            return `<span class="comic" style="
    bottom: ${y}ch;
    margin-left: ${x}ch;
     font-variation-settings:
    'wght' ${w},
    'ital' ${il},
    'INFM' ${inf},
    'BNCE' ${b};
            ">${c}</span>`
        }).join('');
        }
        return ;
    }
    return recursor(node);
}
// then
setTimeout(()=>{

    const nodeList = document.querySelectorAll("h1, h2, h3, h4, h5, h6")
     for (let i = 0; i < nodeList.length; i++) {
        const target = nodeList[i]
        getText(target)
     }
},0)

</script>
</p>
</body>
</html>
