<main class="content page">
   {{#getPost @config.custom.frontPost}}
{{#if @customHTML.afterPost}}
         <div class="banner banner--before-post">
            {{{@customHTML.afterPost}}}
         </div>
      {{/if}}
      <article class="post">      
                           <div class="post_content_area">

         

         <div class="post__entry">           
            {{{text}}}            
         </div>

         {{#if postViewConfig.displayLastUpdatedDate}}
            <footer class="wrapper post__footer">
                  {{#if modifiedAt}}
                     <p class="post__last-updated">
                        {{ translate 'post.lastUpdatedDate' }}
                        {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                           {{date modifiedAt @config.custom.formatDate}}
                        {{else}}
                           {{date modifiedAt @config.custom.formatDateCustom}}
                        {{/checkIf}}
                     </p>
                  {{/if}}
            </footer>
         {{/if}}
           <div class="post_paper_start"></div>

          </div>   
         <div class="post_paper_end"></div>
      </article>
      
      {{#if postViewConfig.displayComments}}
         <div class="post__comments">
            {{{@commentsCustomCode}}}
         </div>
      {{/if}}

      {{#if @customHTML.afterPost}}
         <div class="banner banner--after-post">
            {{{@customHTML.afterPost}}}
         </div>
      {{/if}}
    
   {{/getPost}}
</main>
