
    <div class="mymenu">
        {{#each items}}
             <div{{menuItemClasses}}>
            {{#if link}}
               <a
                  href="{{menuUrl}}"
                  {{#if title}}
                     title="{{title}}"
                  {{/if}}
                  {{#if target}}
                     target="{{target}}"
                  {{/if}}
                  {{#if rel}}
                     rel="{{rel}}"
                  {{/if}}
                  {{#if items}} 
                     aria-haspopup="true"
                  {{/if}}>
                  {{label}}
              </a>
            {{else}}
               <span 
                  class="is-separator"
                  {{#if title}}
                     title="{{title}}"
                  {{/if}} 
                  {{#if items}} 
                     aria-haspopup="true"
                  {{/if}}>
                  {{label}}
               </span>
            {{/if}}

            {{#if items}}
               {{> menu}}
            {{/if}}
         </div>
        {{/each}}
    </div>